.socialShareWrap {
    text-align: center;
}
.socialShareWrap h3 {
    margin-bottom: 0;
}
.socialShareWrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.socialShareWrap ul li {
    display: inline-block;
    margin: 0;
    padding: 0 7px;
    white-space: nowrap;
}
.socialShareWrap ul li a span:last-child {
    display: none;
}
.socialShareWrap ul li a:hover span:last-child {
    display: block;
}
.socialShareWrap ul li a:hover span:first-child {
    display: none;
}